

  
  html {
    scroll-snap-type: x mandatory;
  }
  
  body {
    display: grid;
    
    min-height: 100vh;
  }
  
  .gallery-list {
    display: flex;
    place-items: center;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    padding: 0 calc(50vw - 12.5vmin);
    gap: 6vmin;
  }
  
  li {
    scroll-snap-align: center;
  }
  
  li:nth-of-type(even) {
    --offset: -1;
  }
  li:nth-of-type(odd) {
    --offset: 1;
  }
  
  .gallery-item {
    filter: grayscale(1);
    opacity: 0.5;
    animation: wave both ease-in-out;
    animation-timeline: view(inline);
    animation-range: cover 25% cover 75%;
  }
  
  img {
    background: hsl(0 0% 50%);
  }
  
  @keyframes wave {
    0% {
      translate: 0 calc(50% * var(--offset, 1));
    }
    50% {
      opacity: 1;
      filter: grayscale(0);
    }
    100% {
      translate: 0 calc(-50% * var(--offset, 1));
    }
  }
  
  img {
    width: 60vmin;
    aspect-ratio: 1;
  }